@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.background-color-webpage {
    background-color: #eee;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 2px 2px 2px #777;
}

.date {
    font-family: Abril Fatface;
    color: #777;
    font-weight: lighter;
}

.title {
    font-family: Roboto Slab;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 0.1em;
}

hr {
    border-style: solid;
    border-width: 0.05em; 
    border-color: rgb(204, 203, 203);
    opacity: 0.4;
}

a:link {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: eee;
}

nav ul a {
    list-style: none;
    text-align: center;
    color: #777;
}

nav li { 
    display: inline; 
    text-decoration: none;
    height: 1em;
    color: #777;
    font-size: 0.8em;
    padding-right: 0.5em;
}


.name-style {
    color: red;
    font-weight: bold;
    font-size: 1em;
}

.source-sans-pro-font {
    font-family: source-sans-pro;
}

.more-articles {
    clear: both;
    display: inline-block;
}

h4 {
    font-weight: bolder;
    font-size: 1.2em;
}

.article-three {
    width: 48%;
    float: left;
}

.article-four {
    width: 48%;
    float: right;
}